### C++ ###
*.d
*.so
stderr
stdout

### ROOT specific ###
*.root
*.jdl
*_merge.C
*_merge.sh
*_validation.sh
*.pcm
*_ACLiC_dict.cxx*

### OTHERS ###
*.xml
*.tmp
*.zip
.DS_Store 			# Mac specific

### Images/Pictures ###
*.pdf
*.png
*.jpg
*.jpeg
*.gif

### Directories ###
class/misc/*
class/misc/*
class/tempChecksum_*
results/*
macros_bk
