### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

### ROOT specific ###
*.root
*.jdl
*_merge.C
*_merge.sh
*_validation.sh

### OTHERS ###
*.xml
*.tmp
*.zip
.DS_Store 			# Mac specific

# Images/Pictures #
*.pdf
*.png
*.jpg
*.jpeg
*.gif

### Directories ###
results/*
hepData/*
